meta(charset="UTF-8")
meta(name="viewport", content="width=device-width, initial-scale=1")
title Stock Table
link(rel="stylesheet", href="/css/stocktable.css")

// Navigation Bar
nav.navbar
  ul
    li
      a(href="/stock") Stock
    li
      a(href="/stocklist") Stocklist
    li
      a(href="/delivery") Delivery
    li
      a(href="/deliverylist") Deliverylist

.form-container
  h2 Stock Table
  table#stockTable
    thead
      tr
        th Product Name
        th Product Type
        th Quantity
        th Quality
        th Cost Price (shs)
        th Selling Price (shs)
        th Supplier Name
        th Date
        th Edit
        th Delete
    tbody
      if items && items.length
        each item in items
          tr
            td #{item.productName}
            td #{item.productType}
            td #{item.quantity}
            td #{item.quality}
            td #{item.costPrice}
            td #{item.sellingPrice}
            td #{item.supplierName}
            td #{moment(item.date).format("DD-MM-YYYY")}
            td
              a.btn.btn-warning(href=`/editstock/${item._id}`) Edit
            td
              form(method='post', action=`/deletestock/${item._id}`)
                button.btn.btn-danger(type='submit') Delete
      else
        tr
          td(colspan="10", style="text-align:center") No stock available

  p(style="text-align:center; margin-top:10px;")
    a(href="/stock") Add More Stock

script(src="/js/stocktable.js")
