meta(charset="UTF-8")
meta(name="viewport", content="width=device-width, initial-scale=1")
title Stock Table
link(rel="stylesheet", href="/css/stocklist.css")

.form-container
  h2 Stocklist

  p(style="text-align:left; margin-bottom:10px;")
    a(href="/stock") Add More Stock

  table#stockTable
    thead
      tr
        th Product Name
        th Product Type
        th Total Quantity
        th Available Quantity
        th Quality
        th Cost Price (shs)
        th Selling Price (shs)
        th Supplier Name
        th Supplier Contact
        th Total Value (shs)
        th Date
        th Edit
        th Delete

    tbody
      - var grandTotal = 0
      if items && items.length
        each item in items
          - var totalQuantity = Number(item.totalQuantity) || 0
          - var available = Number(item.availableQuantity) || 0
          - var cost = Number(item.costPrice) || 0
          - var selling = Number(item.sellingPrice) || 0
          - var totalValue = available * cost
          - grandTotal += totalValue
          tr
            td #{item.productName || '-'}
            td #{item.productType || '-'}
            td #{totalQuantity}
            td #{available}
            td #{item.quality || '-'}
            td #{cost.toFixed(2)}
            td #{selling.toFixed(2)}
            td #{item.supplierName || '-'}
            td #{item.supplierContact || '-'}
            td #{totalValue.toFixed(2)}
            td #{item.date ? moment(item.date).format("DD-MM-YYYY") : '-'}
            td
              a.btn.btn-warning(href=`/editstock/${item._id}`) Edit
            td
              form(method='post', action=`/deletestock/${item._id}`)
                button.btn.btn-danger(type='submit') Delete
      else
        tr
          td(colspan="13", style="text-align:center; color: gray") No stock available
