meta(charset="UTF-8")
meta(name="viewport", content="width=device-width,initial-scale=1")
title Stock Table
link(rel="stylesheet", href="/css/stocktable.css")

.form-container
  h2 Stock Table

  table#stockTable
    thead
      tr
        th Product name 
        th product type 
        th qantity 
        th unit cost price 
        th unit selling price 
        th supplier name 
        th date  
        th Action   
        th update   
        th delete 

    tbody
      if items && items.length
        each item in items
          tr
            td #{item.product}
            td #{item.quantity}
            td #{item.price}
            td #{(item.quantity * item.price).toFixed(2)}
            td #{item.supplier}
            td #{item.date}
            td #{item.action}
            td #{item.update}
            td #{item.delete}
            td 
              a.btn.btn-warning(href=`/editstock/${item._id}`) Edit
            td
              form(method='post', action='/deletestock')
                input(type="hidden", name='id', value=item._id)
                button.btn.btn-danger.btn-block(type='submit') Delete
      else
        tr
          td(colspan="7", style="text-align:center") No stock available

  p(style="text-align:center; margin-top:10px;")
    a(href="/stock") Add More Stock

script(src="/js/stocktable.js")
